.button {
    @include pixelBorder($oc-orange-2, $oc-violet-9, $oc-violet-2);
    @include pixelBorderInteractive($oc-cyan-0, $oc-cyan-9, $oc-cyan-4);
    cursor: pointer;
    font: {
        size: 12px;
        family: $pixel-font;
    }
    padding: 12px 16px;
    line-height: 1.4;
    text-transform: uppercase;

    &:hover,
    &:focus {
        outline: none;
    }

    @include medium {
        padding: 16px 24px;
    }

    @include full {
        font-size: 14px;
    }
}
