.stats-meter {
    @include pixelBorder($oc-violet-9, $oc-violet-9, $oc-violet-2);
    margin-top: 0px;
    padding-left: 0px;
    height: 24px;
    list-style: none;
    align-items: stretch;
    justify-content: stretch;
    display: flex;
    padding: 6px 4px;

    @include medium {
        padding: 8px 4px;
        height: 28px;
    }

    @include full {
        height: 40px;
        padding: 8px 4px;
    }

    &::after {
        left: 0;
        right: 0;
    }

    &__segment {
        flex: 1 0 auto;
        background: {
            image: url('../assets/images/dither.jpg');
            size: 800px 1420px;
            position: 100% 100%;
        };
        transition: {
            property: background-position;
            name: test;
            duration: 1s;
            timing-function: steps(6);
        }
        position: relative;
        z-index: 10;


        &--filled {
            background-position: 100% 0%;
        }

        // &:first-child {
        //     border-radius: 8px 0 0 8px;
        // }

        // &:last-child {
        //     border-radius: 0 8px 8px 0;
        // }
    }
}

@keyframes test {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}